# requirements.txt

# --- Python 版本限制 ---
python_version < 3.13

# --- 主要依賴 ---
streamlit==1.32.2
pillow==10.3.0
pandas==2.2.2
openpyxl==3.1.2
numpy==1.26.4
ultralytics==8.2.26
opencv-python-headless==4.8.1.78
